/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #F8F8F8;
}


/* App Container */
.app-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 5%;
  width: 100%;
  height: 100vh;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-image: linear-gradient(to bottom, #40497C, #40376E, #52356B);
}

/* Welcome */
.logo-container {
  grid-row: 2;
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  object-fit: cover;
  width: 400px;
  max-height: 100px;
}

.welcome-message-container {
  grid-row: 3;
  grid-column: 3;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Button */
.link-button {
  text-decoration: none;
  border: 2px solid #2ab759;
  color: #2ab759;
  border-radius: 20px;
  padding: 10px;
  background-image: linear-gradient(#2ab759 100%, #F8F8F8 100%); 
  background-repeat: no-repeat;
  background-size: 0% 0%;
  background-position: 50% 50%;
  transition: background-size .5s, color .5s;
}

.link-button:hover {
  background-size: 100% 100%;
  color: #F8F8F8;
  cursor: pointer;
}

.player-container {
  display: flex;
  grid-row: 2;
  grid-column: 2 / 5;
}

/* Song Finder */
.song-finder {
  grid-row: 3/4;
  grid-column: 3;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-Items: center;
  justify-content: space-between; 
}

.song-finder form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-Items: center;
  justify-content: space-between; 
  text-align: center;
}

.song-finder form > * {
  margin-bottom: 20px;
}

.search-input{
  border-radius: 15px;
  height: 25px;
  width: 150px;
}

/* Song Cards */
.song-cards-container {
  grid-column: 3;
  grid-row: 4/6;
  height: 100%;
  width: 100vw;
}

.song-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.song-card > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.song-card > div > img {
  max-width: 300px;
  max-height: auto;
  border-radius: 15px;
}

.song-card > h3, h5 {
  color: #333745;
}

/* Media Player */
.player-container {
  grid-column: 3;
  grid-row: 5;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media-player {
  width: 100%;
  margin-bottom: 20px;
}

.media-player iframe {
  border-radius: 15px;
}

/* Guess the BPM */
.bpm-box {
  grid-row: 3;
  grid-column: 3;
  justify-self: center;
  align-self: center;
}

.bpm-box form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bpm-box form label{
  padding-bottom: 10px;
}

.bpm-box form input{
  margin-bottom: 10px;
}

.bpm-box .link-button {
  padding: 7px 30px;
}

.guess-message {
  grid-row: 4;
  grid-column: 3;
  justify-self: center;
  align-self: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.guess-message > * {
  padding: 10px;
  text-align: center;
}

.guess-message h2 {
  color: #2ab759;
}