.app-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: 
    "logo logo . . menu"
    ". . . . ."
    ". message message message ."
    ". message message message ."
    ". . button . ."
    ". . . . .";
}

.logo {
  grid-area: logo;
  justify-self: start;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.message {
  grid-area: message;
  justify-self: stretch;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.login-button {
  grid-area: button;
  justify-self: center;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}